html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  letter-spacing: 0.5px;
  font-family: zuume;
}

body {
  overflow-x: clip;
}

.navbar {
  border-bottom: 2px solid #b5a997;
  background-color: #0b0a09;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  background: #b5a997;
  color: white;
  transition: 0.5s;
}

.button:hover {
  background: #c8c7c5;
}

#c8c7c5 body {
  position: relative;
  overflow: auto;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/background.png') center/cover;
  opacity: 0.5;
  /* Adjust the opacity as needed */
  z-index: -1;
}

#landing-content {
  height: 730px;
  overflow-x: hidden;

  .homepage__image {
    position: absolute;
    display: flex;
    height: 530px;
    justify-content: center;
    top: 150px;
    left: 90px;
    image-rendering: pixelated;
  }

  .title__text {
    position: relative;
    display: flex;
    top: 100px;
    left: -30px;
    justify-content: center;
    color: #b5a997;
    font-size: 70px;
    letter-spacing: 1px;
    cursor: default;
  }

  .name__landing {
    position: relative;
    display: flex;
    top: -50px;
    justify-content: center;
    left: 185px;
    color: #0b0a09;
    font-size: 200px;
    letter-spacing: 1px;
    cursor: default;
  }

  .fa-github {
    color: #c8c7c5;
    background: transparent;
    text-decoration: none;
    background-color: none;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform ease-out 300ms;
    padding: 10px;
    top: 490px;
    left: 680px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Styles specific to MacBook Air 13-inch */
    .fa-github {
      top: 490px;
      left: 625px;
    }
  }

  .fa-github:hover {
    color: #b5a997;
    display: flex;
    transform: translate(0, -10px);
  }

  .fa-linkedin-square {
    color: #c8c7c5;
    /* background: transparent; */
    text-decoration: none;
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: transform ease-out 300ms;
    top: 490px;
    left: 760px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Styles specific to MacBook Air 13-inch */
    .fa-linkedin-square {
      top: 490px;
      left: 690px;
    }
  }

  .fa-linkedin-square:hover {
    display: flex;
    color: #b5a997;
    transform: translate(0, -10px);
  }

  .go-down {
    position: absolute;
    top: 700px;
    left: 48%;
    text-decoration: none;
    color: #0b0a09;
    transition: transform 0.3s ease-out;
    padding: 10px;
  }

  .go-down:hover {
    transform: translateY(-40px);
    color: #b5a997;
  }
}

#about-me {
  height: 730px;

  .about__me {
    color: #0b0a09;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 60px;
    left: 0%;
    font-size: 83px;
    cursor: default;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Styles specific to MacBook Air 13-inch */
    .about__me {
      top: 40px;
    }
  }

  .paragraph {
    position: relative;
    color: #b5a997;
    display: flex;
    font-size: 20px;
    top: 0px;
    justify-content: center;
    cursor: default;
  }

  .blur-box {
    display: flex;
    height: 500px;
    width: 900px;
    position: relative;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 3cqmin;
    /* Fix the typo here */
    z-index: -1;
    border: 2px solid #b5a997;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Styles specific to MacBook Air 13-inch */
    .blur-box {
      height: 550px;
      top: 240px;
    }
  }

  .code-snippet {
    position: relative;
    display: flex;
    font-size: 25px;
    top: -20px;
  }

  .aboutpara {
    position: absolute;
    top: 22px;
    font-size: 20px;
    line-height: 50px;
    color: #0b0a09;
    left: 380px;
    max-width: 50%;
    /* Adjust the value as needed */
    word-wrap: break-word;
    cursor: default;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Styles specific to MacBook Air 13-inch */
    .aboutpara {
      top: 35px;
    }
  }

  .go-up {
    position: absolute;
    /* Change from absolute to fixed for a fixed position */
    display: flex;
    top: 1500px;
    right: 20px;
    /* Adjust the right property to position it from the right edge */
    bottom: 20px;
    /* Adjust the bottom property to position it from the bottom edge */
    text-decoration: none;
    color: #0b0a09;
    transition: transform 0.3s ease-out;
    padding: 10px;
  }

  .go-up:hover {
    transform: translateY(-40px);
    color: #b5a997;
  }
}

.Project__Title {
  color: #0b0a09;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 0px;
  font-size: 83px;
  cursor: default;
}

.gold-under {
  height: 5px;
  width: 190px;
  top: -60px;
  position: relative;
  display: flex;
  margin: auto;
  background-color: #b5a997;
}


#project-page {

  #project-1 {
    position: relative;

    .project-box-1 {
      height: 450px;
      width: 900px;
      position: relative;
      top: 0px;
      margin: auto;
      background-color: rgb(255, 255, 255);
      opacity: 0.5;
      border-radius: 3cqmin;
      display: flex;
      z-index: -1;
      border: 2px solid #b5a997;
    }

    .StockEye-Name {
      display: flex;
      position: relative;
      top: -460px;
      margin-left: 23%;
      font-size: 40px;
      margin-bottom: auto;
    }

    .StockEye-WhatType {
      display: flex;
      position: relative;
      top: -516px;
      margin-left: 31%;
      font-size: 23px;
      color: #b5a997;
      font-style: italic;
      cursor: default;
  
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* Styles specific to MacBook Air 13-inch */
      .StockEye-WhatType {
        margin-left: 32%;
      }
    }

    .StockEye {
      position: relative;
      display: flex;
      font-size: 25px;
      top: -170px;
    }

    .StockEye-Desc {
      position: relative;
      top: -360px;
      font-size: 20px;
      line-height: 50px;
      color: #0b0a09;
      margin-left: 23%;
      max-width: 54%;
      /* Adjust the value as needed */
      word-wrap: break-word;
      cursor: default;
    }

    .LanguageJS {
      display: flex;
      position: relative;
      top: -508px;
      margin-left: 23%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguageH {
      display: flex;
      position: relative;
      top: -564px;
      margin-left: 39%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguageP {
      display: flex;
      position: relative;
      top: -620px;
      margin-left: 31%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguageH:hover {
      transform: translateY(-20px);
    }

    .LanguageJS:hover {
      transform: translateY(-20px);
    }

    .LanguageP:hover {
      transform: translateY(-20px);
    }

    .view {
      display: flex;
      position: relative;
      top: -675px;
      margin-left: 70%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #0b0a09;
      cursor: pointer;
      transition: transform 0.2s ease-in;
      text-decoration: none;
      transition: 0.5s;
    }

    .view:hover {
      background-color: #b5a997;
      transform: translateY(-20px);
    }

    .project-scroll {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      margin: auto;
      width: 4.5%;
      height: 10%;
      top: -900px;
      margin-left: 85%;
      transition: 0.5s;
    }

    .project-scroll:hover {
      transform: translateY(20px);
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* Styles specific to MacBook Air 13-inch --> ORGINAL MARGIN IS 23 30 37 70*/
      .view {
        top: -720px;
      }

      .LanguageH {
        top: -608px;
      }

      .LanguageJS {
        top: -552px;
      }

      .LanguageP {
        top: -664px;
      }

      .project-scroll {
        top: -940px;
      }
    }
  }

  #project-2 {
    position: relative;
    top: -699px;

    .project-box-2 {
      height: 450px;
      width: 900px;
      margin: auto;
      position: relative;
      top: 20px;
      background-color: rgb(255, 255, 255);
      opacity: 0.5;
      border-radius: 3cqmin;
      display: flex;
      z-index: -1;
      border: 2px solid #b5a997;
    }

    .AutoMail-Name {
      display: flex;
      position: relative;
      top: -440px;
      margin-left: 23%;
      font-size: 40px;
    }

    .AutoMail-WhatType {
      display: flex;
      position: relative;
      top: -509px;
      margin-left: 31%;
      font-size: 23px;
      color: #b5a997;
      font-style: italic;
      cursor: default;
    }

    .AutoMail {
      position: relative;
      display: flex;
      font-size: 25px;
      top: -170px;
    }

    .AutoMail-Desc {
      position: relative;
      top: -340px;
      font-size: 20px;
      line-height: 50px;
      color: #0b0a09;
      margin-left: 23%;
      max-width: 54%;
      /* Adjust the value as needed */
      word-wrap: break-word;
      cursor: default;
    }

    .LanguagePython {
      display: flex;
      position: relative;
      top: -500px;
      margin-left: 23%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguagePython:hover {
      transform: translateY(-20px);
    }

    .view-two {
      display: flex;
      position: relative;
      top: -556px;
      margin-left: 70%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #0b0a09;
      cursor: pointer;
      transition: transform 0.2s ease-in;
      text-decoration: none;
      transition: 0.5s;
    }

    .view-two:hover {
      background-color: #b5a997;
      transform: translateY(-20px);
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* Styles specific to MacBook Air 13-inch --> ORGINAL MARGIN IS 23 30 37 70*/
      .AutoMail-WhatType {
        margin-left: 32%;
      }

      .view-two {
        top: -538px;
      }

      .LanguagePython {
        top: -482px;
        margin-left: 23%;
      }

      top: -725px;
    }
  }

  #project-3 {
    top: -1090px;
    position: relative;

    .project-box-3 {
      height: 350px;
      width: 900px;
      margin: auto;
      position: relative;
      top: -80px;
      background-color: rgb(255, 255, 255);
      opacity: 0.5;
      border-radius: 3cqmin;
      display: flex;
      z-index: -1;
      border: 2px solid #b5a997;
    }

    .BlackJack-Name {
      display: flex;
      position: relative;
      top: -440px;
      margin-left: 23%;
      font-size: 40px;
    }

    .BlackJack-WhatType {
      display: flex;
      position: relative;
      top: -509px;
      margin-left: 32%;
      font-size: 23px;
      color: #b5a997;
      font-style: italic;
      cursor: default;
    }

    .BlackJack {
      position: relative;
      display: flex;
      font-size: 25px;
      top: -170px;
    }

    .BlackJack-Desc {
      position: relative;
      top: -340px;
      font-size: 20px;
      line-height: 50px;
      color: #0b0a09;
      margin-left: 23%;
      max-width: 54%;
      /* Adjust the value as needed */
      word-wrap: break-word;
      cursor: default;
    }

    .LanguagePython3 {
      display: flex;
      position: relative;
      top: -500px;
      margin-left: 23%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguagePython3:hover {
      transform: translateY(-20px);
    }

    .LanguageOOP {
      display: flex;
      position: relative;
      top: -556px;
      margin-left: 31%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 200px;
      border-radius: 4px;
      color: white;
      background-color: #b5a997;
      cursor: default;
      transition: transform 0.2s ease-out;
      transition: 0.5s;
    }

    .LanguageOOP:hover {
      transform: translateY(-20px);
    }

    .view-three {
      display: flex;
      position: relative;
      top: -612px;
      margin-left: 70%;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100px;
      border-radius: 4px;
      color: white;
      background-color: #0b0a09;
      cursor: pointer;
      transition: transform 0.2s ease-in;
      text-decoration: none;
      transition: 0.5s;
    }

    .view-three:hover {
      background-color: #b5a997;
      transform: translateY(-20px);
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* Styles specific to MacBook Air 13-inch --> ORGINAL MARGIN IS 23 30 37 70*/
      .BlackJack-WhatType {
        margin-left: 33%;
      }

      .view-three {
        top: -593px;
      }

      .LanguagePython3 {
        top: -482px;
        margin-left: 23%;
      }

      .LanguageOOP {
        top: -538px;
      }
    }
  }



}