html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-family: zuume;
}

.navbar {
  border-bottom: 2px solid #b5a997;
  background-color: #0b0a09;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  background: #b5a997;
  color: white;
  transition: 0.5s;
}

.button:hover {
  background: #c8c7c5;
}
#c8c7c5 body {
  position: relative;
  overflow: auto;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/GitHub Banner PSD FILE.png') center/cover;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}

#landing-content {
  height: 800px;
  overflow: auto;

  .homepage__image {
    position: absolute;
    display: flex;
    height: 530px;
    justify-content: center;
    top: 150px;
    left: 90px;
  }

  .title__text {
    position: absolute;
    display: flex;
    top: 240px;
    left: 650px;
    color: #b5a997;
    font-size: 70px;
    letter-spacing: 1px;
    cursor: default;
  }

  .name__landing {
    position: absolute;
    display: flex;
    top: 290px;
    left: 647px;
    color: #0b0a09;
    font-size: 200px;
    letter-spacing: 1px;
    cursor: default;
  }

  .fa-github {
    color: #c8c7c5;
    background: transparent;
    text-decoration: none;
    background-color: none;
    position: absolute;
    display: flex;
    top: 500px;
    left: 655px;
    transition: transform ease-out 300ms;
  }

  .fa-github:hover {
    display: flex;
    color: #b5a997;
    transform: translate(0, -10px);
  }

  .fa-linkedin-square {
    color: #c8c7c5;
    /* background: transparent; */
    text-decoration: none;
    background-color: none;
    position: absolute;
    display: flex;
    top: 500px;
    left: 730px;
    transition: transform ease-out 300ms;
  }

  .fa-linkedin-square:hover {
    color: #b5a997;
    display: flex;
    transform: translate(0, -10px);
  }

  .go-down {
    position: absolute;
    top: 700px;
    left: 50%;
    text-decoration: none;
    color: #0b0a09;
    transition: transform 0.3s ease-out;
    padding: 10px;
  }

  .go-down:hover {
    transform: translateY(-40px);
    color: #b5a997;
  }
}

#about-me {
  height: 740px;

  .about__me {
    color: #0b0a09;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 0px;
    font-size: 83px;
    cursor: default;
  }

  .paragraph {
    position: relative;
    color: #b5a997;
    display: flex;
    font-size: 20px;
    top: 10px;
    justify-content: center;
    cursor: default;
  }

  .blur-box {
    height: 500px;
    width: 900px;
    position: relative;
    top: 30px;
    left: 280px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 3cqmin;
    display: flex;
    z-index: -1;
    border: 2px solid #b5a997;
  }

  .code-snippet {
    font-size: 25px;
    white-space: pre-wrap;
    left: 310px;
    top: 1000px;
    position: absolute;
  }

  .aboutpara {
    position: relative;
    top: 25px;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    color: #0b0a09;
    margin: -30px;
    width: 2300%;
    cursor: default;
  }

  .about-redirect {
    position: relative;
    left: 945px;
    bottom: -500px;
    padding: 0 1rem;
    width: 15%;
  }

  .go-up {
    position: absolute;

    display: flex;
    left: 90%;
    bottom: -700px;
    text-decoration: none;
    color: #0b0a09;
    transition: transform 0.3s ease-out;
    padding: 10px;
  }

  .go-up:hover {
    transform: translateY(-40px);
    color: #b5a997;
  }
}

.Project__Title {
  color: #0b0a09;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 10px;
  font-size: 83px;
  cursor: default;
}
